﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - proyecto_mascotas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Mis estilos -->
    <link rel="stylesheet" href="~/css/style.css" />
    <!--Libreria CSS extra -->
    <link rel="stylesheet" href="~/css/swiper.min.css"/>
    <link rel="stylesheet" href="~/css/animate.min.css" />
    <link rel="stylesheet" id="lana-pet-print-css" href="~/css/lana-pet-print.min.css" type="text/css">
    <link rel="stylesheet" id="lana-pet-icon-css" href="~/css/lana-pet-icon.min.css" type="text/css">
    <link rel="stylesheet" id="lana-pet-theme-css" href="~/css/lana-pet-theme.min.css" type="text/css">
    
    <link rel="stylesheet" id="montserrat-css"
          href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" id="open-sans-css"
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
   
</head>
<body>
<header class="mb-7 w-100">
    <div class="container">
        <div class="row">
            <div class="header-area header-transparent">
                <div class="main-header ">
                    <div class="header-top d-none d-sm-block">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="d-flex justify-content-between flex-wrap align-items-center">
                                        <div class="header-info-right">
                                            <ul class="header-social">
                                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                                <li> <a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="header-info-left">
                                            <ul>
                                                <li><i class="fas fa-map-marker-alt"></i> Av. El Exodo, Y4600 San Salvador de Jujuy, Jujuy</li>
                                                <li><i class="fas fa-phone-alt"></i> +54 (388) 4000000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-bottom  header-sticky">
                        <div class="container">
                            <div class="row align-items-center">

                                <div class="col-xl-2 col-lg-2">
                                    <div class="logo">
                                        <a ><img src="assets/img/logo/logo.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-xl-10 col-lg-10">

                                    <div class="main-menu f-right d-none d-lg-block">
                                        <nav>
                                            <ul class ="d-flex align-items-center" id="navigation">
                                                <li><a href="/Home/Index">Home</a></li>
                                                <li><a href="Servicios/Servicios">Servicios</a></li>
                                                <li><a href="About/About">Sobre Nosotros</a></li>
                                                <li><a href="Blog/Blog">Blog</a></li>
                                                <li><a href="/Contact/Contacto">Contacto</a></li>
                                                <li class="d-flex">
                                                    <div class="header-right-btn f-right ml-2">
                                                        <a href="/Account/Login" class="header-btn">Acceder</a>
                                                    </div>
                                                    <div class="header-right-btn ml-2">
                                                        <a href="/Account/Register" class="header-btn">Registrar</a>
                                                    </div>
                                                </li>
                                              
                                            </ul>
                                        </nav>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="mobile_menu d-block d-lg-none">
                                        <div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0"
                                                class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span
                                                    class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span
                                                        class="slicknav_icon-bar"></span></span></a>
                                            <ul class="slicknav_nav slicknav_hidden" style="display: none;" aria-hidden="true" role="menu">
                                                <li><a href="index.html" role="menuitem" tabindex="-1">Home</a></li>
                                                <li><a href="services.html" role="menuitem" tabindex="-1">Services</a></li>
                                                <li><a href="about.html" role="menuitem" tabindex="-1">About</a></li>
                                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1"
                                                        class="slicknav_item slicknav_row" style="outline: none;"><a href="blog.html" tabindex="-1">Blog</a>
                                                        <span class="slicknav_arrow">+</span></a>
                                                    <ul class="submenu slicknav_hidden" role="menu" style="display: none;" aria-hidden="true">
                                                        <li><a href="blog.html" role="menuitem" tabindex="-1">Blog</a></li>
                                                        <li><a href="blog_details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                                        <li><a href="elements.html" role="menuitem" tabindex="-1">Elements</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                                <li>
                                                    <div class="header-right-btn f-right  ml-2">
                                                        <a href="#" class="header-btn" tabindex="-1">Get Quote</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

   
        <div class="my-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    
    <footer class="footer bg-dark text-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <p class="footer-text text-center text-md-left">
                        &copy; @DateTime.Now.Year - proyecto_mascotas
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end">
                        <li class="nav-item"><a href="#" class="nav-link">Terms of Use</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     <!--Libreria jS extra -->
    <script src="~/js/swiper.min.js"></script>
    <script type="text/javascript" src="~/js/popper.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
