<div class="container bg-dark">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image-register"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="text-center mb-4">Iniciar Sesión</h3>
              <form>
                <div class="form-label-group">
                  <label for="inputEmail">Correo</label>
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                  
                </div>

                <div class="form-label-group">
                  <label for="inputPassword">Contraseña</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Recordar Contraseña</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Ingresar</button>
               
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

