
<div class="container bg-dark">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="text-center mb-4">Registrarse</h3>
              <form>
                <div class="form-label-group">
                  <label for="inputEmail">Apellido y Nombre</label>
                  <input type="text" id="inputName" class="form-control" placeholder="Ingresa tu Apellido y Nombre" required autofocus>
                  
                </div>

                <div class="form-label-group">
                  <label for="inputEmail">Dirección de Email</label>  
                  <input type="email" id="inputEmail" class="form-control" placeholder="Ingresa tu email" required autofocus>
                  
                </div>

                <div class="form-label-group">
                  <label for="inputPassword">Contraseña</label>
                  <input type="password" id="inputPassword1" class="form-control" placeholder="Ingresa una contraseña" required>
                  
                </div>

                <div class="form-label-group mb-3">
                  <label for="inputPassword">Confirmar Contraseña</label>
                  <input type="password" id="inputPassword2" class="form-control" placeholder="Confirma la contraseña" required>
                </div>
               
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Registrar</button>
                
                  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
