.mb-7 {
    margin-bottom: 7rem !important;
}
.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

.header-area .header-top {
    background: #0094DF;
    padding: 8px 20px;
}

.header-info-right .header-social li {
    display: inline-block;
}

ul {
    margin: 0px;
    padding: 0px;
}

.header-area .header-top .header-info-left ul li {
    color: #fff;
    display: inline-block;
    margin-right: 16px;
    font-size: 15px;
}

/* Header Bottom */
.f-right {
    float: right;
} 

.main-header .main-menu ul>li {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0px 18px;
}
.main-header .main-menu ul>li a {
    font-family: "DM Sans",sans-serif;
    color: #023C5A;
    font-weight: 700;
    padding: 27px 4px;
    display: block;
    font-size: 16px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    text-transform: capitalize;
}

.header-btn {
    font-family: "DM Sans",sans-serif;
    border: none;
    padding: 13px 32px !important;
    text-transform: capitalize !important;
    cursor: pointer;
    color: #fff !important;
    display: inline-block !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    background: #FF3E7E;
    border-radius: 30px;
}

a{
    text-decoration: none !important;
}


/* Slider bar */

/* Servicios */
.servicio-img{
    filter: invert();
}

/* Donacion */
.btn-donate {
    color: #fff !important;
    border: 1px solid #fff;
    padding: 12px 42px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    background-color: rgb(16, 131, 207);
}
.btn-donate:hover {
    
    border: 1px solid #fff;
    color: #FF3E7E !important;
}

/* Login */
.bg-image {
    background-image: url('../img/Pet-Login.png');
    background-size: cover;
    background-position: center;
  }

.bg-image-register{
    background-image: url('../img/pet-register.png');
    background-size: cover;
    background-position: center;
}

.footer{
    position:  relative !important;
}